#title {
  background-color: #ff4c68;
  color: #fff;
}

body {
  font-family: "Montserrat";
}

h1 {
  font-family: 'Montserrat, sans-serif';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* navigation bar */
.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

/* download-button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  width: 320px;
  transform: rotate(23.1deg);
  position: absolute;
  margin: 0 0 0 3%;
}

#features {
  font-family: Montserrat;
  font-size: 1.5rem;
  padding: 7% 15%;
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

h3 {
  font-size: 2rem;
  font-family: Montserrat-bold;
}

p {
  color: #8f8f8f;
}

.icon {
  font-size: 60px;
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonial section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

h2 {
  font-family: Montserrat-bold;
  line-height: 1.5;
  font-size: 3rem;
}

.testimonial-image {
  width: 10%;
  margin: 10px;
  border-radius: 100%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

/* pricing-coloum */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-coloum {
  padding: 3% 2%;
}

@media (max-width:991px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* <!-- Call to Action --> */
#cta {
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 15%;
}

.cta-text {
  font-family: Montserrat-black;
  color: #fff;
  line-height: 1.5;
  font-size: 3.6rem;
}

/* footer */
#footer {
  text-align: center;
}

.icon-footer {
  padding: 4% 1% 2% 1%;
}
